// Website Theme bootstrap
//font-family: 'Vidaloka', serif;
//font-family: 'Lato', sans-serif;




// $theme-colors:(
// 		"primary": #000,
//     "secondary":#fff
// 	);

// $body-bg: #212227;

// @import bootstrap scss

@import '../../node_modules/bootstrap/scss/bootstrap';


$h1-fcolor: #fff;
$primary-font: 'Lato', sans-serif;
$heading-font: 'Vidaloka', serif;
$a-bglink: #3399db;
$a-hovertxt: #fff;
// $white: #ffff;
// $light-gray: #bfada3;
// $dark-gray: #000;


body {
  font-family: $primary-font;
}

* {
  color: #000;
}

img {
  max-width: 100%;
}

html, .splash-page {
  height: 100%;
}

.background{
  width: 100%;
  height: 100%;
  background-image: url(../images/resortsbg.jpg);
  background-size: cover;
  background-position: center bottom;

}
.splash-content {
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.splash-content .container{
  margin: 0 auto;
  max-width: 650px;
  text-align: center;
}

.splash-content p{
  font-family: $primary-font;
  font-size: 17px;
// font-weight: bold;
}

.splash-content small {
  font-weight: 600;
  text-transform: uppercase;
}
.splash-content h1{
  color: $h1-fcolor;
  font-size: 4rem;
  font-family: 'Vidaloka', serif;

}

.splash-content a{
  color: #fff;
  margin-top: 10px;
  padding: 10px 15px;
  text-decoration: none;
  background-color: $a-bglink;
  border-radius: 50px;
  display: inline-block;
  text-transform: uppercase;

  &:hover{
    background-color: $a-hovertxt;
    color: $a-bglink;;
  }

}

// HOME PAGE

ul li {
  text-transform: uppercase;
  font-weight: bold;
}
.background-jumbo{
// background-color: #000;
width: 100%;
height: 400px;
background-size: cover;
background-position: center bottom;

  &.carousel-1{
  background-image: url(../images/resortsbg.jpg);
  }
  &.carousel-2{
  background-image: url(../images/carousel-2.jpg);
  }
  &.carousel-3{
  background-image: url(../images/carousel-3.jpg);
  }
}

.jumbo-content {
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbo-content .container{
  margin: 0 auto;
  max-width: 650px;
  text-align: center;
}

.jumbo-content p{
  font-family: $primary-font;
  font-size: 17px;
}

.jumbo-content small {
  font-weight: 600;
  font-size: 2rem;
}
.jumbo-content h2{
  color: $h1-fcolor;
  font-size: 3rem;
  font-family: 'Vidaloka', serif;

}

.carousel{
  max-width: 100%;

  .carousel-controls {
    background-color: #fff;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    border-radius: 50px;
    padding: 5px 10px;
    box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.19);


    .carousel-control-prev,
    .carousel-control-next {
      position: relative;
      display: inline-block;
      opacity: 1;
      width: inherit;
      font-size: 25px;
      padding: 0 10px;

      .fas {
        color: #3399db;
      }
    }
  }
}
.carousel-item img{
  height: 400px;
  max-width: 100%;
}

//ABOUT SECTION

.about-text{
  padding: 40px;
// margin-top: 10px;
}
.about-container .col-lg-7 h1{
// display: flex;
// flex-wrap: wrap;
font-family: $heading-font;
}

.about-text-p{
  margin: 0;
  padding: 10px 30px;
  font-size: 20px;
}
.about-container .col-lg-5{
// background-color: gray;
// border: 1px solid black;
padding:0;
}

.about-container .row{
  margin: 0;
}

.about-container .features{
// background-color: gray;
max-height: 100%;
max-width: 100%;
padding: 20px;
}

.about-container .features img{
  height: 50px;
  width: 50px;
}
.about-container .features h4{
  text-align: left;
}

//cards section

.cardsection{
  text-align: center;

}

.cardsection h3{
  font-family: $heading-font;
}

.cardsection .card-body {
  height: 450px;
  max-width: 100%;
  padding:0;
}

.card-body img{
  max-height: 100%;
  max-width: 100%;
  padding:0;
}

.cardsection h3{
  text-align: center;
}
.card {
  border: none;
  transition: 0.5s all ease-in;

  &:hover {
    text-decoration: none;
    box-shadow: 5px 10px 40px rgba(0,0,0, 0.19);
  }
}
.card a{
  text-decoration: none;
}

//activities section

.activities-section{
  max-width: 100%;
  height: 400px;
  background-image: url(../images/beach.jpg);
  background-size: cover;
  background-position: center bottom;
  padding:20px;
  position: relative;
}

.actmsg{
  position:absolute;
  top: -25px;
  right: 115px;
  bottom: -25px;
}

.actmsg2{
  background-color: #fff; 
  border: 1px solid #fff;
  padding: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px 40px rgba(0,0,0, 0.1);
}

.actmsg2 > div h2{
  font-family: $heading-font;
}

//contact us section
.contact-section {
  text-align: center;
  margin-top: 60px;
}

.contact-ad{
  border: 2px solid #fff;
  box-shadow: 5px 10px 40px rgba(0,0,0, 0.1);
}

.contact-section h1{
  font-family: $heading-font;
}

.contact-section h5{
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
}

.address{
  padding: 80px 50px;
}

.contact-ad .map{
  padding: 0;
}


/*// footer section*/
footer{
  padding: 90px 20px 0 20px;
}
footer h3{
  color: $a-bglink;
  font-family: $heading-font;
}
footer ul li{
  color: black;
  display: inline-block;
  margin: 10px;
  text-transform:none;
}



ul li > a{
  color: black;
  &:hover{
    text-decoration: none;

  }
}
footer p{
  color: black;
  font-family: $heading-font;
}

.text-white .row > .text-center{
  padding:0;
}

.social-media a{
  background-color: $a-bglink;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  margin:2px;

}

.social-media .fab{
  color: #fff;
  height: 20px;
  width: 20px;
  margin-bottom: 15px;
}

// ABOUT US PAGE

.about-page{
  width: 100%;
  height: 400px;
  background-image: url(../images/about-header.jpg);
  background-size: cover;
  background-position: center bottom;
  padding: 0;
}

.about-content {
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content .container{
  margin: 0 auto;
  max-height: 100%;
  text-align: center;
}

.about-content h1{
  color: $h1-fcolor;
  font-family: $heading-font;
  font-weight: bold;
}

.about-container .row .features p{
  text-align: left;
}

.features-section .about-container .row .features p{
  text-align: center;
}

.features-section h1,h4{
  text-align: center;
}

.features-section h5{
  margin-top: 20px;
  text-align: center;

}

.features-section > p{
  color: gray;
  text-align: center;
  text-transform: uppercase;
}


.features-section .features {
  border: 2px solid #fff;
  box-shadow: 5px 10px 40px rgba(0,0,0, 0.1);
  padding: 20px;
  height: 280px;
}

.features-section .features img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
}

.features p{
  text-align: center;
}

// VIDEO perspective-origin: 

.video-section{
  max-width: 100%;
  height: 400px;
  background-image: url(../images/video-bg.jpg);
  background-size: cover;
  background-position: center bottom;
  padding:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-section .row {
  text-align: center;
  margin: 0;

}

.video-section > div h1{
  color: #fff;
  font-family: $heading-font;
}

.video-section > div p{
  color: #fff;
  text-transform: uppercase;
}

.video-section div button{
  text-align: center;
}

.video-section .fas{
  color: #fff;
  font-size: 30px;
}

//TESTIMONIALS SECTION
.section-title {
  font-family: $heading-font;
}
.section-title > small {
  font-family: $primary-font;
  color: gray;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
}

.testimon-section{
  text-align: center;
}
.testsection .card-body {
  padding: 60px 60px 120px;
  min-height: 460px;
}

.testimon-section .fa-quote-left{
  color: $a-bglink;
}

.testimon-section .customer-section p{
  font-size: 14px;
  margin:0;
}
.testimon-section .customer-name p {
  font-weight: 600;
}
.testimon-section .customer-name small{
  font-size: 70%;
  margin:0;
}
.testimon-section .customer-section .fa-star{
  color:yellow;
  box-shadow: 5px 10px 40px rgba(0,0,0, 0.1);
}

.customer-section{
  position: absolute;
  right: 0;
  left:0;
  bottom: 0;
  padding: 20px;
}
.customer-section img{
  border-radius: 50%;
}
.customer-section .customer-name {
  text-align: left;
}

// Contact form

.contact-page {
  .contactmsg{
    text-align: right;

    > h1{
      font-family: $heading-font;
      padding:25px;
      text-align: right;
    }

    > p{
      color: gray;
      font-size: 20px;
    }
  }
  .contact-section .address p, h3 {
    text-align: left;
    padding: 10px;
  }
  .contact-section .address small {
    text-align: left;
  }
  .contact-ad{
    margin:0;
  }
}

.form-control{
  margin: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: #000;
}

.btn-primary {
  padding:15px 20px;
  font-size: 20px;
  font-family: $heading-font;
  background-color: #CDB599;
  border:1px solid #CDB599;
  border-radius: 50px;

  &:hover{
    background-color: #3399db;
    border:1px solid #3399db;
  }
}

//ROOMS PAGE

.rooms-page {
  .about-page{
    width: 100%;
    height: 400px;
    background-image: url(../images/rooms-header.jpg);
    background-size: cover;
    background-position: center bottom;
    padding: 0;
    margin: 0;

    .price, small { color: #fff; }

    small { font-size: 70%; }
  }
  .row{
    margin: 0;
  }

  .rooms-section {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center bottom;
    padding: 0;

    &.rooms1{
      background-image: url(../images/deluxe-room-full.jpg);
    }
    &.rooms2{
      background-image: url(../images/one-bedroom-full.jpg);
    }
    &.rooms3{
      background-image: url(../images/two-bedroom-full.jpg);
    }
    &.rooms4{
      background-image: url(../images/three-bedroom-full.jpg);
    }
    a:hover{
      text-decoration: none;
      color:$a-bglink;
    }
  }

  &.room-gallery {
    .section-title {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 100px;

      small { text-transform: none; }
    }

    .gallery {
      .gallery-image {
        position: relative;
        width: 100%;
        height: 270px;
        background-size: cover;
        background-position: center bottom;
        padding: 0;

        &.facility-1 {
          background-image: url(../images/deluxe-room.jpg);
        }
        &.facility-2{background-image: url(../images/gallery-2.jpg);}
        &.facility-3{background-image: url(../images/gallery-3.jpg);}

        &:hover .overlay {
          opacity: 1;
        }

        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0;
          background-color: rgba(0,0,0,0.6);
          transition: 0.5s opacity ease;

          .btn {
            background-color: transparent;
            border: 2px solid #fff;
            font-size: 15px;
            padding: 10px 35px;
          }
        }

        .modal img {
          width: 100%;
        }
      }
    }
  }

  .room-content{
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .about-content {
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

// .about-content .container{
//   margin: 0 auto;
//   max-height: 100%;
//   text-align: center;
// }

  .about-content h2 {
    color: $h1-fcolor;
    font-family: $heading-font;
    font-weight: bold;
  }
  
  .roomsmsg {
    padding: 45px;

    small {
      color: $h1-fcolor;
    }

    h2 {
      color: $h1-fcolor;
      font-family: $heading-font;
    }

    a {
      margin-top: 100px;
      display: inline-block;
      color: #fff;
      text-transform: uppercase;

      > .fas {
        color: #fff;
        margin-left: 5px;
      }
    }
  }
}

@media (max-width: 1024px){
  .rooms-page.room-gallery .gallery .gallery-image .overlay {
      opacity: 1;
    }
}

@media (max-width: 767px) {
  // body{
  //   overflow: hidden;
  // }
  .home-cards{
    .card-body{
      height: inherit;
    }
  }
  .about-text-p{
  font-size: 12px;
  }
  .jumbo-content h2{font-size:2rem;}
  .jumbo-content p {font-size: 15px;}
  .jumbo-content small {font-size: 1rem;}
  .actmsg2{
    background-color: rgba(0,0,0,0.6);
    // background-color: transparent;
    border:none;
  }
  .actmsg2 > div h2{
    color: #fff ;
  }
  .actmsg2 > div p{
    color: #fff ;
  }
  .actmsg {
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding:0;
  }
  .testsection .card-body {
    padding:40px 0 0 0;
    }
    .customer-section .customer-name {text-align: center;}
    .custom-control-inline {
    display: block;}
    .features-section .features img {height: inherit}
    .features-section .row .features p {
    text-align: center;}
    .contact-page .contactmsg > h1 {
      text-align: center;
      padding: 0;
      font-size: 1.8rem;
    }
    .contact-page .contactmsg > p {text-align: center;}
    .contactform-section .ml-2{display: inherit
    }
    .form-check-inline{margin-left:10px;}
    footer .text-center > ul{
      padding: 0;
    }
    footer .text-center > ul li{
      display: block;
      padding: 5px;
      margin:0;
    }
    .features-section .features{height:inherit;}
    
}

@media (min-width: 768px) {
  
 }